<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premium">
      <ion-icon name="diamond"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invite">
      <ion-icon name="gift"></ion-icon>
      <ion-label>invite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
